<div class="dashboard-content">
 <div class= "row">
      <div class="col-lg-12">
                <div id="listID" style="float: right">
                    <ul>
                        <li class="list_drag" draggable=true>Demo1</li>
                        <li class="list_drag" draggable=true>Demo2</li>
                        <li class="list_drag" draggable=true>Demo3</li>
                        <li class="list_drag" draggable=true>Demo4</li>
                    </ul>
                </div>
                <div class="singleLevel_tree"></div>
            </div>
 </div>

</div>