<div class="admin-sub-left">
    <div class="info-box">
        <p class="title" style="font-size: 27px;">{{model.menuName}}</p>
        <p>{{model.all}}</p>
    </div>
    <div class="status">
        <div class="col-sm-6 divider-line">
            <p>{{existingLabel}}<br /><strong>{{model.existingOrActive}}</strong></p>
        </div>
        <div class="col-sm-6" *ngIf="!isCustodian">
            <p>{{newLabel}}<br /><strong>{{model.newOrPending}}</strong></p>
        </div>
    </div>
    <ul class="admin-menu">
        <li><a [routerLink]="['/community', 'administrator', 'user' , 'list']" [class.leftNavigationActiveLink]="getLinkStyle('/user')" title="Users">Users</a></li>
        <li><a title="Strategists" [routerLink]="['/community', 'administrator', 'strategist' , 'list']" [class.leftNavigationActiveLink]="getLinkStyle('/strategist')" title="Strategists">Strategists</a></li>
    </ul>
</div>