<div class="admin-sub-left">
    <div class="status"></div>
    <ul class="admin-menu">
        <li><a [routerLinkActive]="['active']" [routerLink]="['/community', 'overview','aumfirm']" title="AUM Overview">AUM Overview</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/community', 'overview','accountsfirm']" title="Accounts Overview">Accounts Overview</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/community', 'overview', 'cashflowfirm']" title="Cash Flow Overview">Cash Flow Overview</a></li>
    </ul>
</div>