<div class="main">
    <overview-breadcrumb pageName="Dashboard"></overview-breadcrumb>
    <div class="dashboard-content dashboard-content-margin">
        <community-overview-leftnav menuName="Overview"></community-overview-leftnav>
        <div class="grid-container">
            <community-overview-tabnav [model]="tabsModel"></community-overview-tabnav>
            <div class="tab-content" *ngIf="activeRoute == 'aumadvisor'|| activeRoute == 'accountsadvisor'">
                <div id="tab3" class="tab-pane fade in active ">

                    <div class="tab-header">

                        <div class="row" style='height: 60px;'>
                            <div class="col-sm-5">
                                <div class="chart-value ">
                                    <div class="col-xs-6">
                                        <i class="fa fa-sort-asc icon-green" aria-hidden="true"></i> <strong>{{percentChange}} %</strong><br>
                                        <strong>Value on</strong> {{selectedDate}} </div>
                                    <div class="col-xs-6">
                                        <div class="total-amount" *ngIf="activeRoute == 'aumadvisor'">{{totalValue | currency:'USD':true}}</div>
                                        <div class="total-amount" *ngIf="activeRoute == 'accountsadvisor'">{{totalValue}}</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-push-2">
                                <div class="form-group is-empty">
                                    <label class="col-md-2"><strong>As Of</strong></label>
                                    <div class="icon-green col-md-5 ">
                                        <p-calendar showAnim="slideDown" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [(ngModel)]="selectedDate" [maxDate]="maxDateValue">
                                        </p-calendar>
                                    </div>
                                    <div class="col-md-4 margin-top-minus">
                                        <button class="btn btn-bg-green" (click)="getAdvisorDataByDate()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                        <button class="btn btn-bg-blue"><i class="fa fa-print" aria-hidden="true"></i></button>

                                    </div>

                                </div>

                                <!-- rest of form -->



                            </div>
                        </div>
                    </div>

                    <div class="row row-no-padding">
                        <div class="col-lg-4 ">
                            <div class="gray95 ">
                                <div class="img-responsive" id="advisorDonut"></div>
                            </div>
                        </div>
                        <!--<div class="col-lg-9 gray95 ">
                    <div class="marging-top-1x ">
                        15%<br> Value on 8/3/2016<br> $2,09,41,813
                    </div>
                </div>-->
                        <div class="col-lg-8 gray95 ">
                            <div class="marging-top-1x ">
                                <div class="table-responsive ">
                                    <table class="table account-portfolioAUM-table">
                                        <thead>
                                            <tr>
                                                <th>ADVISOR </th>
                                                <th *ngIf="activeRoute == 'aumadvisor'" class="text-right">MARKET VALUE </th>
                                                <th *ngIf="activeRoute == 'accountsadvisor'" class="text-right">#ACCOUNTS</th>
                                                <th class="text-right">PERCENT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of advisorData">
                                                <td class=" "><span [ngStyle]="{'background': item.color}"></span>{{item.name}}</td>
                                                <td *ngIf="activeRoute == 'aumadvisor'" class="text-right">{{item.marketValue | currency:'USD':true}}</td>
                                                <td *ngIf="activeRoute == 'accountsadvisor'" class="text-right">{{item.noOfAccounts}}</td>
                                                <td class="text-right">{{item.percent | number : '1.2-2'}}%</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th> </th>
                                                <th *ngIf="activeRoute == 'aumadvisor'" class="text-right"><span class='total'>{{totalValue | currency:'USD':true}}</span> </th>
                                                <th *ngIf="activeRoute == 'accountsadvisor'" class="text-right"><span class='total'>{{totalValue }}</span> </th>
                                                <th class="text-right"><span class='total'>{{totalPercent | number : '1.2-2'}}%</span></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Cash Flow Summarry Advisor Template-->
            <div class="tab-content" *ngIf="activeRoute == 'cashflowadvisor'">
                <div id="tab3" class="tab-pane fade in active ">

                    <div class="tab-header">

                        <div class="row" style='height: 60px;'>
                            <div class="col-sm-5">
                                <div class="chart-value ">
                                    <div class="col-xs-8" style='top:14px'>
                                        <!--<i class="fa fa-sort-asc icon-green" aria-hidden="true"></i> <strong>{{percentChange}} %</strong><br>-->
                                        <strong>Value on </strong> {{startDate}} - {{endDate}} </div>
                                    <div class="col-xs-4">
                                        <div class="total-amount" style="font-size:20px">{{cashFlowSummery.totalCashflow | currency:'USD':true}}</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-7  col-sm-12 row">
                                <!--<div class="form-inline pull-right">-->
                                <div class="form-group is-empty">
                                    <div class='col-md-2' style='margin-top:-1px'>
                                        <select class="form-control" name="status" [(ngModel)]="SelectedTimeFrame" (ngModelChange)="timeFrameOnChange($event)">
                                                            <option value="Daily" >Daily</option>
                                                            <option value="Weekly">Weekly</option>
                                                            <option value="Monthly">Monthly</option>
                                                            <option value="Quarterly">Quarterly</option>
                                                            <option value="Custom">Custom</option>
                                                    </select>
                                    </div>
                                    <!--<label class="col-md-2"><strong>As Of</strong></label>-->
                                    <div *ngIf="dateRangeCheck" class="col-md-6" style="margin-top:8px;padding:0px">
                                        <div class="icon-green col-md-5 ">
                                            <p-calendar showAnim="slideDown" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [(ngModel)]="startDate" [maxDate]="maxDateValue">
                                            </p-calendar>
                                        </div>
                                        <div class="icon-green col-md-5">
                                            <p-calendar showAnim="slideDown" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [(ngModel)]="endDate" [maxDate]="maxDateValue">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="btn-group col-md-3" style='margin-top:11px'>
                                        <button class="btn btn-bg-green pull-left btn-xs" (click)="getAdvisorDataByDate()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                        <button class="btn btn-bg-blue pull-left btn-xs"><i class="fa fa-print" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <!-- rest of form -->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <div class="row row-no-padding">
                        <div class="col-lg-4 ">
                            <div class="gray95 ">
                                <div class="img-responsive" id="advisorLineChart"></div>
                            </div>
                        </div>
                        <!--<div class="col-lg-9 gray95 ">
                    <div class="marging-top-1x ">
                        15%<br> Value on 8/3/2016<br> $2,09,41,813
                    </div>
                </div>-->
                        <div class="col-lg-10 gray95 ">
                            <div class="marging-top-2x ">
                                <div class="table-responsive ">
                                    <table class="table account-portfolioAUM-table">
                                        <thead>
                                            <tr>
                                                <th>ADVISOR </th>
                                                <th class="text-right">DISTRIBUTIONS </th>
                                                <th class="text-right">CONTRIBUTIONS </th>
                                                <th class="text-right">TOTAL CASH FLOW</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of cashFlowAdvisorData">
                                                <td class=" "><span [ngStyle]="{'background': item.color}"></span>{{item.name}}</td>
                                                <td class="text-right">{{item.distribution | currency:'USD':true}}</td>
                                                <td class="text-right">{{item.contribution | currency:'USD':true}}</td>
                                                <td class="text-right">{{item.cashflow | currency:'USD':true}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th> </th>
                                                <th class="text-right"><span class='total'>{{cashFlowSummery.totalDistribution | currency:'USD':true}}</span>                                                    </th>
                                                <th class="text-right"><span class='total'>{{cashFlowSummery.totalContribution | currency:'USD':true}}</span></th>
                                                <th class="text-right"><span class='total'>{{cashFlowSummery.totalCashflow | currency:'USD':true}}</span></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class='Tooltip_lineChart' style='display:none'>
                            <div class='Date_value_line_tooltip row'>
                                <div class='col-sm-6'>Date :</div>
                                <div class="Date_value_line col-sm-6" style='word-break: break-word;'></div>
                            </div>
                            <div class='CashFlow_value_line_tooltip row'>
                                <div class='col-md-8'>CashFlow :</div>
                                <div class="CashFlow_value_line" style='word-break: break-word;'></div>
                            </div>
                            <div class='Name_value_line_tooltip row'>
                                <div class='col-sm-6'>Name :</div>
                                <div class="Name_value_line col-sm-6" style='word-break: break-word;'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>