<table class="table tactical-custom-table">
    <thead>
        <tr class="table-row-bg-9">
            <th colspan="4" class="text-center">Tax Lots</th>
            <th colspan="5" class="text-center table-td-border-left">Gain Loss
            </th>
            <th colspan="1"></th>
            <th class="table-td-border-left">Trade Order
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-row-bg-10">
        <tr>
            <th class="text-right custom-td-width">Rank</th>
            <th class="text-center">Acquired Date
            </th>
            <th class="text-right">Shares</th>
            <th class="text-right">Value</th>
            <th class="text-right table-td-border-left">G/L ST</th>
            <th class="text-right">G/L LT</th>
            <th class="text-right">Redemption Fee
            </th>
            <th class="text-right">Trade Cost
            </th>
            <th class="text-right">Total G/L $
            </th>
            <th class="text-right">Total G/L %
            </th>
            <th class="text-right table-td-border-left">Shares</th>
            <th class="text-right">Amount</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td class="text-center">
                <div class="form-group is-empty">
                    <input class="form-control radius-none text-right" placeholder="0" maxlength="3" type="text">
                    <span class="material-input"></span>
                    <span class="material-input"></span>
                    <span class="material-input"></span>
                    <span class="material-input"></span>
                </div>
            </td>
            <td class="text-center">3/16/2012</td>
            <td class="text-right">15</td>
            <td class="text-right">$1,000.00</td>
            <td class="text-right table-td-border-left">$120</td>
            <td class="text-right">$1,200.00</td>
            <td class="text-right">Yes</td>
            <td class="text-right">$ 110</td>
            <td class="text-right">-$200.00</td>
            <td class="text-right">-16.67%</td>
            <td class="text-right table-td-border-left">
                <div class="form-group is-empty">
                    <input type="text" class="form-control radius-none" id="" />
                    <span class="material-input"></span>
                    <span class="material-input"></span>
                </div>
            </td>
            <td class="text-right">
                <div class="form-group is-empty">
                    <input type="text" class="form-control radius-none" id="" />
                    <span class="material-input"></span>
                    <span class="material-input"></span>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>