<table class="table tactical-custom-table table-step-2">
    <thead>
        <tr class="table-row-bg-5">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="2" class="text-center table-td-border-left">Current</th>
            <th colspan="1" class="text-center table-td-border-left">Trade Order</th>
            <th colspan="6" class="text-center table-td-border-left">Gain Loss</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-row-bg-6">
            <th></th>
            <th>Account</th>
            <th>Custodian</th>
            <th>Type</th>
            <th>Info</th>
            <th class="table-td-border-left text-right">Shares</th>
            <th class="table-td-border-left text-right">Amount</th>
            <th class="text-right table-td-border-left">Amount</th>
            <th class="text-right table-td-border-left">G/L ST</th>
            <th class="text-right table-td-border-left">G/L LT</th>
            <th class="text-right table-td-border-left">Total G/L $</th>
            <th class="text-right table-td-border-left">Total G/L %</th>
            <th class="text-right table-td-border-left">Alternative</th>
        </tr>
        <tr class="table-row-bg-7">
            <td class="icon-setting"></td>
            <td>John Smith</td>
            <td>TD Ameritrade</td>
            <td>Individual</td>
            <td>SMA</td>
            <td class="text-right table-td-border-left">20</td>
            <td class="text-right table-td-border-left">$ 1,50.00</td>
            <td class="text-right table-td-border-left">$ 1,50.00</td>
            <td class="text-right table-td-border-left">$ 1,50.00</td>
            <td class="text-right">$0</td>
            <td class="text-right">-$1,300.00</td>
            <td class="text-right">-650.00%</td>
            <td></td>
        </tr>
        <tr class="inbox-2 collapse" id="Sub2vl6">
            <td colspan="23">

            </td>
        </tr>
    </tbody>
</table>