<div class="form-inline">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 form-inline tabs-data form-group" *ngIf="!isViewPortfolio">
                <p-autoComplete class="autocomplete-block" [(ngModel)]="selectedPortfolio" [suggestions]="FilteredProtfolioresults" placeholder="Search Portfolio"
                    field="name" [minLength]="1" (completeMethod)="portfolioSearch($event)" (onSelect)="handleselectedPortfolio(selectedPortfolio)" (keyup)="handleselectedPortfolio(selectedPortfolio)"></p-autoComplete>
            </div>
            <div class="col-sm-1" *ngIf="!isViewPortfolio">
                <button type="button" class="btn btn-info btn-raised" (click)="addPortfolio(selectedPortfolio)" [disabled]="btnDisablePortfolio">Add</button>
            </div>           
        </div>
    </div>
</div>
<div *ngIf="showGrid">
    <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-material ag-dark" suppressContextMenu="true" [showToolPanel]="false" enableSorting [gridOptions]="gridOptions"
     enableColResize="true" [columnDefs]="columnDefs" [rowData]="teamPortfolio" enableFilter (modelUpdated)="onModelUpdated()">
    </ag-grid-ng2>
</div>

<p-dialog header="" [(visible)]="displayConfirm" modal="modal" responsive="true" showEffect="fade" [draggable]=false
    [resizable]=false width="420">
    <div>
        <div>This action will Delete the Portfolio Record. To avoid that please select No. <br /><br /> To Continue with
            Portfolio deletion, please press Yes.</div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn btn-info btn-raised" icon="fa-close" (click)="displayConfirm=false">No</button>
                <button type="button" class="btn btn-blueouter" icon="fa-check" (click)="deleterPortfolio()">Yes</button>
            </div>
        </footer>
    </div>
</p-dialog>