<div class="form-inline" *ngIf="action != 'V'">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 form-inline tabs-data form-group">
                <p-autoComplete [(ngModel)]="selectedAdvisor" [suggestions]="advisorSuggestions" placeholder="Search Advisor" class="autocomplete-block"
                    (completeMethod)="autoAdvisorSearch($event)" (onSelect)="selectAdvisor(selectedAdvisor)" field="name"
                    (keyup)="selectAdvisor(selectedAdvisor)" [minLength]="1">
                </p-autoComplete>
            </div>
            <div class="col-sm-1">
                <button type="button" (click)="addAdvisor(selectedAdvisor)" [disabled]="disableButton" class="btn btn-info btn-raised">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="agcontainer">
    <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-material ag-dark" suppressContextMenu="true" [showToolPanel]="false"
        [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="teamAdvisors" enableColResize="true" enableSorting enableFilter
        [getContextMenuItems]="getContextMenuItems" [suppressMenuMainPanel]="true">
    </ag-grid-ng2>
</div>

<p-dialog header="" [(visible)]="displayConfirm" modal="modal" responsive="true" showEffect="fade" [draggable]=false [resizable]=false
    width="420">
    <div>
        <div>This action will Delete the Advisor Record. To avoid that please select No. <br /><br /> To Continue with Advisor
            deletion, please press Yes.</div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn btn-info btn-raised" icon="fa-close" (click)="displayConfirm=false">No</button>
                <button type="button" class="btn btn-blueouter" icon="fa-check" (click)="deleterAdvisor()">Yes</button>
            </div>
        </footer>
    </div>
</p-dialog>