<div class="admin-sub-left">
    <div class="status"></div>
    <ul class="admin-menu">
        <li><a [routerLink]="['/community', 'overview']" [routerLinkActive]="['active']" title="AUM Overview">AUM Overview</a></li>
        <li><a [routerLink]="['/community', 'overview']" [routerLinkActive]="['active']" title="Accounts Overview">Accounts Overview</a></li>
        <li><a [routerLink]="['/community', 'overview']" [routerLinkActive]="['active']" title="Cash Flow Overview">Cash Flow Overview</a></li>
    </ul>
</div>