<div class="nav-tabs-container tactical-trade-menu-container">
      <ul class="nav nav-tabs pull-left">
            <li><a title="Category Maintenance" [routerLink]="['/eclipse', 'security', 'asset' , 'category']" [routerLinkActive]="['active']">Category Maintenance</a></li>
            <li><a title="Class Maintenance" [routerLink]="['/eclipse', 'security', 'asset' , 'class']" [routerLinkActive]="['active']">Class Maintenance</a></li>
            <li><a title="Sub Class Maintenance" [routerLink]="['/eclipse', 'security', 'asset' , 'subclass']" [routerLinkActive]="['active']">Sub Class Maintenance</a></li>
      </ul>
      
</div>