<div class="admin-sub-left">
    <div class="admin-page-sub-header">
        <h4 class="pull-left">Preference
            <small>Settings</small>
        </h4>
    </div>
    <ul class="admin-menu disabled-group">
        <li><a [routerLink]="['/eclipse', 'admin', 'preferences', 'firm']" 
        [class.disabled]="!isFirmPrefEnabled" 
        [routerLinkActive]="['active']" title="Firm">Firm</a></li>
        <li><a [routerLink]="['/eclipse', 'admin', 'preferences', 'custodian']" 
        [class.disabled]="!isCustodianPrefEnabled" 
        [routerLinkActive]="['active']" title="Custodian">Custodian</a></li>
        <li><a [routerLink]="['/eclipse', 'admin', 'preferences', 'team']" 
        [class.disabled]="!isTeamPrefEnabled" 
        [routerLinkActive]="['active']" title="Team">Team</a></li>
        <li><a [routerLink]="['/eclipse', 'admin', 'preferences', 'model']"
        [class.disabled]="!isModelPrefEnabled" 
        [routerLinkActive]="['active']" title="Model">Model</a></li>
        <li><a [routerLink]="['/eclipse', 'admin', 'preferences', 'portfolio']" 
        [class.disabled]="!isPortfolioPrefEnabled" 
        [routerLinkActive]="['active']" title="Portfolio">Portfolio</a></li>
        <li><a [routerLink]="['/eclipse', 'admin', 'preferences', 'account']"
        [class.disabled]="!isAccountPrefEnabled" 
        [routerLinkActive]="['active']" title="Account">Account</a></li>
    </ul>
</div>