.tool-tip {position :absolute; display : none; width : auto; height : auto; background : none repeat scroll 0 0 white;
border : none; border-radius :8px 8px 8px 8px ;box-shadow: -3px 3px 15px #888888; color : black;font : 12px; padding :5px;
 text-align : center;font-weight : bold}
 .response-image{ max-width : 100%; height : auto; width: 100%}