<!--<object data="https://www.google.co.in/?gfe_rd=cr&ei=I9zfV6WIB5Py8AfAx4HIBQ&gws_rd=ssl#q=good" width="400" height="300" type="text/html">
    Alternative Content
</object>

<embed src="http://stackoverflow.com/questions/8813010/alternative-to-iframe" width=200 height=200 />
 -->
<div class="main">
    <breadcrumb pageName="Sleeve"></breadcrumb>
    <!--<div class="dashboard-content">
        <iframe [src]="iframeUrl" width=100% height=1000 id="output_iframe_id"> </iframe>
    </div>-->
    <router-outlet></router-outlet>
</div>