<div class="main">
 <model-breadcrumb pageName="Model Maintenance">
		<li class="crumb-link"><a [routerLink]="['/community', 'model', 'list']">Model</a></li>
	</model-breadcrumb>
  <div class="dashboard-content dashboard-content-margin">
    <community-model-tabnav [model]="tabsModel"></community-model-tabnav>

    <div class="tab-content">
      <div class="tab-pane fade active in">
        <community-model-search [model] = "model" (onModelChange) = "onModelChange($event)"></community-model-search>
        <community-model-marketing-tabnav [modelId] = "model.id" *ngIf = "model.id > 0"></community-model-marketing-tabnav>
        <div class="row marketingEditor" *ngIf = "model.id > 0">
        <form #commentaryForm="ngForm" class="securityForm" novalidate> 
         <p-editor  [(ngModel)]="commentary.commentary" [style]="{'height':'320px'}" 
             name="modelCommentary" #modelCommentary="ngModel"></p-editor>
             <div class="row text-right">
                <div class="col-sm-12" >
                 <button class="btn model-btn-primary" type="submit" (click) ="saveCommentary(commentaryForm)">Save</button>
                    <button class="btn btn-danger btn-delete-style" (click) = "commentary.commentary = ''">Clear</button>
                   <button [routerLink]="['/community', 'model', 'list']" class="btn model-btn-default">Cancel</button>
                </div>
              </div>
         </form>
         </div>
      </div>
    </div>
  </div>
</div>