<div class="row">
    <div class="col-sm-12">
        <br>
    </div>
</div>
<ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-material ag-dark" [showToolPanel]="false" enableSorting
    [gridOptions]="gridOptions" rowSelection="single" [columnDefs]="columnDefs" [rowData]="strategistList" enableFilter [getContextMenuItems]="getContextMenuItems"
    (rowClicked)="rowSelected($event)"  (rowDoubleClicked)="onRowDoubleClicked($event)">
</ag-grid-ng2>
<div class="button-container">
    <button class="btn btn-blueouter btn-raised pull-left" title="Add a Strategist" (click)="addNewStrategist()"><i class="fa fa-plus-circle blue"></i> ADD A STRATEGIST</button>
</div>
<p-dialog header="Delete Strategist" [(visible)]="displayConfirm" modal="modal" responsive="true" showEffect="fade" [draggable]=false
    [resizable]=false width="600">
    <div>
        <div><p>This action will permanently delete the Strategist and all associated users.He/She will not be able to login to the application.</p>
        <p>Do you wish to continue?</p>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button pButton type="button" (click)="displayConfirm=false" label="No" title="No"></button>
                <button pButton type="button" (click)="deleteStrategist()" label="Yes" title="Yes"></button>
            </div>
        </footer>
    </div>
</p-dialog>