 <div class="nav-tabs-container tactical-trade-menu-container">
        <ul class="nav nav-tabs pull-left">
              <li><a title="Security Maintenance" [routerLink]="['/eclipse', 'security', 'maintenance', 'view']" [routerLinkActive]="['active']">Security Maintenance</a></li>
              <li><a title="Security Detail" [routerLink]="['/eclipse', 'security', 'maintenance', 'detail']" [routerLinkActive]="['active']">Security Detail</a></li>
        </ul>
         <div class="actionBtn btn-group pull-right tactical-trade-menu-icon">
              <a data-target="#" class="btn btn-primary action-drop dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                 <i class="material-icons">more_vert</i>
                 <div class="ripple-container"></div>
               </a>
          </div>
</div>