<div id="subtab1" class="tab-pane fade in  active " >
 <form #f="ngForm" (ngSubmit)="saveSecurity()" class="securityForm" novalidate>              
   <div class="col-sm-4" *ngIf = "strategist.id != undefined">
          <div class="form-group is-empty">
                  <label for="email" class="primar-label " >Strategist ID </label>
                  <p>{{strategist.id}} </p>
           </div>
   </div>
    <div class="col-sm-4">
          <div class="form-group is-empty">
                  <label for="email" class="primar-label" >Name </label>
                   <input type="text" class="form-control" [(ngModel)]="strategist.name" name="strategistName" #strategistName="ngModel" placeholder="Enter Name" required>
                  <em class="securityError danger" *ngIf="!strategistName.valid && (!strategistName.pristine || submitGeneralInfo)">Required</em>       
          
          </div>
    </div>
              
    <div class="col-sm-4">
           <div class="form-group is-empty">
                  <label for="email" class="primar-label" >Status </label>
                  <select class="form-control" [(ngModel)]="strategist.status" name = "status" #status = "ngModel" >
                        <option value="undefined" *ngIf="!strategist.status">Select Status</option>
                        <option *ngFor="let status of strategistStatus" value={{status.id}} >
                            {{status.status}}
                        </option>
                  </select>
           </div>
    </div>
    <div class="add-logo">
        <div class="col-sm-4">
              <p class="logo-text-style">Large Logo<span> (Max size 10 mb)</span></p>
              <div class="logo-larg-box">
			   <label for="file-input" class="flieinput">
                 <img src="app/assets/img/logo-img.png" alt="#" class="img-responsive">
               </label>
              
			  <input type="file" id="file-input" class="hidden">
			  <span class="successful-msg">Uploaded Successfully</span>
              </div>
		</div>
         <div class="col-sm-4">      
              <p class="logo-text-style">Small Logo <span>(Max size 10 mb)</span></p>
              <div class="logo-small-box"> 
			    <label for="file-input-small" class="flieinput">
                  <img src="app/assets/img/logo-img.png" alt="#" class="img-responsive">
                </label>
			    <input type="file" id="file-input-small" class="hidden" >
			  
              </div>
		 </div>
     </div>
	<div class="row">
	      <div class="col-sm-12"><h3 class="userTitle">Users</h3></div>
              <div class="col-sm-12">
              <div class="form-inline space-top-10">
              <div class="form-group is-empty">
                   <p-autoComplete class="radius-none search-security sdinput autocomplete-block"  [(ngModel)]="autoCompleteSelectedUser" [ngModelOptions]="{standalone: true}" ngDefaultControl [suggestions]="filteredUserResult"
                    placeholder="Search User" (completeMethod)="autoUserSearch($event)" field="name" [minLength]="1" (onSelect)="handleSelectedUser(autoCompleteSelectedUser)" ></p-autoComplete>
              </div>
              <button type="button" class="btn btn-info btn-raised" [disabled]="btnDisableUser" (click) = "addUser(autoCompleteSelectedUser)">ADD</button>
              </div>
              </div>
     </div>
     <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-material ag-dark" suppressContextMenu="true" [showToolPanel]="false" enableSorting [gridOptions]="gridOptions"
        enableColResize="true" [columnDefs]="columnDefs" [rowData]="strategist.users" enableFilter >
     </ag-grid-ng2>
    <div class="divider"></div>
       <div class="row text-right">
                <div class="col-sm-12">
                 <button class="btn model-btn-primary" title="Save">Save</button>
                  <button class="btn model-btn-default" title="Cancel">Cancel</button>
                 
                </div>
         </div>
 </form>
</div>
<p-dialog header="Dissociate User" [(visible)]="displayConfirm" modal="modal" responsive="true" class="model-popup-index" showEffect="fade" [draggable]=false
                        [resizable]=false width="600">
                        <div>
                            <div>The action will dissociate the user from Strategist and he/she will not be able to login to the application unless reassigned to a strategist.
                                  Do you wish to continue?
                            </div>
                            <footer>
                                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                    <button pButton type="button" (click)="displayConfirm=false" label="No" title="No"></button>
                                    <button pButton type="button" (click)="deleteUser()" label="Yes" title="Yes"></button>
                                </div>
                            </footer>
                        </div>
</p-dialog>