<!--right side main area start-->
<div class="main">
    <!--<div class="topbar">
        <div class="breadcrum">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-icon"><a [routerLink]="['/dashboard', 'overview']"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="crumb-link"><a [routerLink]="['/dashboard', 'overview']">Home</a></li>
                    <li class="crumb-link"><a [routerLink]="['/dashboard', 'overview']">Dashboard</a></li>
                    <li class="crumb-link"><a [routerLink]="['/dashboard', 'admin', 'dashboard']">Administrator</a></li>
                    <li class="crumb-trail">Roles</li>
                </ol>
                <ul class="firm-menu pull-right">
                    <li>FID-1522</li>
                    <li>FIRM NAME</li>
                </ul>
            </div>
        </div>
    </div>-->
 
        <eclipse-preference-leftmenu menuName="preference Settings"></eclipse-preference-leftmenu>
        <router-outlet></router-outlet>

</div>



<!--right side main area end -->