<eclipse-holding-filterby routeName="list"></eclipse-holding-filterby>
<eclipse-holding-tabnav [model]="tabsModel" ></eclipse-holding-tabnav>

<div class="tab-content">
    <div id="allaccounts" class="tab-pane fade in active">
        <div class="row">

             <div class="product-tabpane-searchArea holdings-search-head-dispaly">
                    <div class="">
                        <b><span class="text-info"><i class="fa fa-suitcase"></i> {{selectedHoldingObj}}</span> <span class="marging-left-2x">{{selectedHoldingValue  | currency:'USD':true}}</span></b>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="product-tabpane-searchArea-bg row">
                <div class="col-md-7">
                       <eclipse-savedviews [model]="savedView" (parentCallback)="onHoldingsLoad()" viewTypeId="4"></eclipse-savedviews>
                </div>
              
              <div class="col-md-4 pull-right">
                <div class="form-group add-form-group">
                    <label for="" class="col-md-3 control-label">Filter: </label>
                    <div class="col-md-8">
                        <select id="select111" class="form-control" [(ngModel)]="filterType" (change)="onFilterChange($event)">
                            <option value="0">NONE</option>
                             <option *ngFor="let h of holdingFilters" value={{h.id}}> {{h.name}}</option>
                         
                        </select>
                    </div>
                </div>
            </div>
            </div>

        </div>
        <div class="row margin-top-15">
            <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-material ag-dark" [showToolPanel]="false" enableSorting
                [gridOptions]="gridOptions" enableColResize="true" rowSelection="single"   (rowSelected)= "onRowSelected($event)"
                [columnDefs]="columnDefs" [rowData]="holdingsList" enableFilter [getContextMenuItems]="getContextMenuItems" (gridReady)="onGridReady($event)"
                [context]="gridContext" >
            </ag-grid-ng2>
        </div>
    </div>
</div>



 