<div class="container-fluid">
    <div class="row">
        <!--sidebar end-->
        <!--right side main area start-->
        <div class="main">
            <breadcrumb pageName="Custodian Management">
                <li class="crumb-link"><a [routerLink]="['/eclipse', 'admin', 'dashboard']">Administrator</a></li>
            </breadcrumb>
            <div class="dashboard-content">
                <!-- admin left menu -->
                <admin-leftmenu menuName="Custodian" existingLabel="Active" newLabel="Pending" isCustodian=true [model]="menuModel"></admin-leftmenu>
                <div class="grid-container">
                    <div class="tab-content">
                        <tab-set>
                            <div class="actionBtn btn-group pull-right actions-block">
                                <a href="" data-target="#" class="btn btn-primary action-drop dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                    <div class="ripple-container"></div>
                                </a>
                                <ul class="dropdown-menu submenu-list" [ngClass]="{hidden:selectedCustodianId == undefined}">
                                    <div [hidden]="selectedCustodianId == undefined || isView">
                                        <li><a href="javascript:void(0)" (click)="viewandEditCustodianDetails('view')">View Detail</a></li>
                                    </div>
                                    <div [hidden]="selectedCustodianId == undefined || isEdit">
                                        <li><a href="javascript:void(0)" (click)="viewandEditCustodianDetails('edit')">Edit Detail</a></li>
                                    </div>
                                    <!--<li><a href="javascript:void(0)">Bulk Reassign</a></li>-->
                                    <!--<li class="divider"></li>-->
                                    <div [hidden]="selectedCustodianId == undefined || isDeleted">
                                        <li><a href="javascript:void(0)" (click)="onDeleteAction()">Delete</a></li>
                                    </div>
                                </ul>
                            </div>

                            <tab tabTitle="All Custodian" tabName='tab1' class="gridTab">
                                <div *ngIf="showGrid" class="agcontainer">
                                    <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-material ag-dark" [showToolPanel]="false" enableSorting (rowClicked)="onrowClicked($event)"
                                      rowBuffer="100" [gridOptions]="custodianGridOptions" enableColResize="true" (rowDoubleClicked)="onRowDoubleClicked($event)"
                                        rowSelection="single" [columnDefs]="custodianColumnDefs" [rowData]="custodians" enableFilter
                                        [getContextMenuItems]="getContextMenuItems">
                                    </ag-grid-ng2>

                                </div>
                            </tab>

                            <tab tabTitle="Custodian Details" tabName='tab2' class="gridTab">
                                <eclipse-admin-custodiandetails (custodianEmitter)="refreshCustodianList()"></eclipse-admin-custodiandetails>
                            </tab>
                        </tab-set>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayConfirm" modal="modal" responsive="true" showEffect="fade" [draggable]=false [resizable]=false
    width="355">
    <div>
        <div>This action will Delete the Custodian permanently. <br /> Do you wish to continue?</div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayConfirm=false" label="No"></button>
                <button type="button" pButton icon="fa-check" (click)="deleteCustodian()" label="Yes"></button>
            </div>
        </footer>
    </div>
</p-dialog>


<p-dialog [(visible)]="deleteCheck" modal="modal" responsive="true" showEffect="fade" [draggable]=false [resizable]=false
    width="355">
    <div>
        <div>You can't Delete the Custodian as there are Accounts associated to the Custodian.</div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton (click)="deleteCheck=false" label="Ok"></button>
            </div>
        </footer>
    </div>
</p-dialog>

<!--right side main area end -->

<!-- Modal -->