<div class="row">
    <div class="col-sm-10">
        <div class="bs-component pull-right">

        </div>
    </div>
    <div class="col-sm-2">
        <div class="bs-component pull-right">
            <a href="javascript:void(0)" class="btn btn-raised btn-info" (click)="createModel()">Create Model</a>
        </div>
    </div>
</div>
<div class="agcontainer">
    <ag-grid-ng2 #agGrid class="ag-material ag-dark grid-height" [showToolPanel]="false" enableSorting [gridOptions]="gridOptions" rowSelection="single" [columnDefs]="columnDefs" [rowData]="ModelData" enableFilter>
    </ag-grid-ng2>

</div>