<div class="main">
	<subscriptionbreadcrumb-breadcrumb pageName="Marketing">
	<li class="crumb-link"><a [routerLink]="['/community', 'subscription','profiles']">Subscription</a></li>
	</subscriptionbreadcrumb-breadcrumb>
	<div class="dashboard-content">

		<div class="dark-bg-container">
			<h3> <i class="fa fa-suitcase icon-color-blue" aria-hidden="true"></i> {{commentary.modelName}}</h3>
			<p class="top-space-30" [innerHtml]="commentary.commentary">
			</p>

			<div class="dotted-spacer"></div>
			<div class="performance-outer-box">

				<div class="row">
					<div class="col-md-6">
						<h4> <i class="fa fa-area-chart" aria-hidden="true"></i> PERFORMANCE
						</h4>
					</div>
					<div class="col-md-6 text-right">
						<div class="row">

							<div class="col-xs-12 custom-cln-style"> <button class="btn btn-success btn-bg-green pull-right" (click)="getPerformanceByDate()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
								<div class="form-group pull-right">


									<select class="form-control custom-width-select" [(ngModel)]="asOnDate">
                        <!--<option value="undefined">Select Status</option>-->
                        <option *ngFor="let date of performanceDate" value={{date}} >
                            {{date}}
                        </option>
                  </select>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="table-responsive" style="height:105px;">
					<table class="table table-bordered">
						<thead>
							<tr class="table-header">
								<th>MTD (%) </th>
								<th> QTD (%) </th>
								<th>YTD (%) </th>
								<th>1YR (%) </th>
								<th>3YR (%) </th>
								<th> 5YR (%) </th>
								<th>10YR (%) </th>
								<th>Inception (%) </th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of performanceByDate">
								<th scope="row">{{item.mtd}}</th>
								<td>{{item.qtd}}</td>
								<td>{{item.ytd}} </td>
								<td>{{item.oneYear}}</td>
								<td>{{item.threeYear}}</td>
								<td>{{item.fiveYear}}</td>
								<td>{{item.tenYear}}</td>
								<td>{{item.inception}}</td>
							</tr>


						</tbody>
					</table>
				</div>
				<div class="dotted-line"></div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12">
					<div class="allocation-box">
						<div class="row">
							<div class="col-xs-12 text">Allocation : <button class="btn btn-xs btn-bg-blue" (click)="chart('category')">Category </button> <button class="btn btn-xs btn-text-white"
									(click)="chart('class')"> Class </button> </div>


						</div>
						<div [hidden] ="!checkDonutChart" class="content-box" id="modelDonut">
							<!--<div class="chart-img"><img src="assets/img/chart-img.png" alt="#"> </div>-->
						</div>
						<div [hidden] ="checkDonutChart" class="content-box">
							<p class="data-not-found">Data Not Found</p>
							<!--<div class="chart-img"><img src="assets/img/chart-img.png" alt="#"> </div>-->
						</div>
					</div>
				</div>

				<div class="col-lg-7 col-md-6 col-sm-12">
					<h3>AVAILABLE DOWNLOADS</h3>
					<div class="file-list-outer">
						<div class="file-list">
							<div class=" heading">File Name</div>
							<ul>
								<li *ngFor="let item of documents">
									<div class="heading text-info">
										<a href="{{item[item.documentName]}}"> {{item.documentName}}</a>
									</div>
									{{item.description}}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-12 ">
					<div class="dotted-line"></div>
					<p class="detailed-text" [innerHTML]="advertisement.advertisement"></p>
				</div>
			</div>
			<div class="divider"></div>
			<div class="row text-right">
				<div class="col-sm-12">
					<button [routerLink]="['/community', 'subscription', 'view',strategistId]" class="btn model-btn-default">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>