<div class="nav-tabs-container">
    <ul class="nav nav-tabs pull-left">
        <li [routerLinkActive]="['active']"><a [routerLink] = "['/eclipse', 'security', 'maintenance' , 'list']">ALL SECURITIES</a></li>
        <li [routerLinkActive]="['active']" *ngIf="model.canRead && (model.action == 'L' || model.action == 'V')"><a [routerLink]="['/eclipse', 'security', 'maintenance', 'view']">SECURITIES DETAIL</a></li>
        <li [routerLinkActive]="['active']" *ngIf="model.canUpdate && model.action == 'E'"><a [routerLink]="['/eclipse', 'security', 'maintenance', 'edit' , model.id]">SECURITIES DETAIL</a></li>
    </ul>
    <div class="actionBtn btn-group pull-right">
        <a href="javascript:void(0)" data-target="#" class="btn btn-primary action-drop dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">more_vert</i>
            <div class="ripple-container"></div>
        </a>
        <ul class="dropdown-menu  submenu-list">
            <li [hidden]="model.id == undefined || !model.canRead || model.action == 'V'">
                <a [routerLink]="['/eclipse', 'security', 'maintenance', 'view' , (model.id || '')]">View Details</a>
            </li>
            <li [hidden]="model.id == undefined || !model.canUpdate || model.action == 'E'">
                <a href="javascript:void(0)" [routerLink]="['/eclipse', 'security', 'maintenance', 'edit' , model.id]">Edit</a>
            </li>
            <li [hidden]="!(model.id != undefined || model.ids != undefined) || !model.canDelete || model.action != 'L'">
                <a href="javascript:void(0)" (click)="onMenuClick('Delete')">Delete</a>
            </li>
             <!--<li [hidden]="model.id == undefined || !model.canRead || model.action == 'V'  || model.action == 'E'">
                 <a href="javascript:void(0)" (click)="onMenuClick('corporate')">Corporate Actions</a>
            </li>-->
        </ul>
    </div>
</div>