<div class="topbar">
    <div class="breadcrum">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-icon"><a [routerLink]="['/community', 'overview','firm']"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="crumb-link"><a [routerLink]="['/community', 'overview','firm']">Home</a></li>
                <!--<li class="crumb-link" *ngIf="!isDashboard"><a [routerLink]="['/community', 'dashboard']">Dashboard</a></li>-->
                <ng-content *ngIf="!isDashboard"></ng-content>
                <li class="crumb-trail">{{pageName}}</li>
            </ol>
        </div>
    </div>
</div>