<eclipse-model-tabnav [model]="tabsModel"></eclipse-model-tabnav>
<div class="tab-content">
    <div id="modelDetail" class="tab-pane fade in active">
        <div class="tab-header">
            <div class="form-inline">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="portfoliodetails-search-add">
                            <p-autoComplete [(ngModel)]="selectedModel" [suggestions]="modelSuggestions" placeholder="Search Model " (completeMethod)="loadModelSuggestions($event)"
                                (onSelect)="onModelSelect($event)" field="name" class="port-search" [minLength]="1">
                                <template let-selectedModel>
                                    <ul class="ui-helper-clearfix show-hollding-dropdown">
                                        <li>
                                            <i class="fa fa-th text-warning"></i>
                                            <span>{{selectedModel.id + " : " +selectedModel.name }}</span>
                                        </li>
                                    </ul>
                                </template>
                            </p-autoComplete>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion" class="model-details-info" role="tablist" aria-multiselectable="true" *ngIf="modelId > 0">
            <div class="panel panel-default">
                <div class="model-heading" id="collapseIcon1" data-toggle="collapse" data-parent="#accordion" href="#collapse-GenInfo" aria-expanded="true"
                    aria-controls="collapseOne"> <i class="glyphicon glyphicon-triangle-top" aria-hidden="true"></i> General Information</div>
                <div class="clearfix"></div>
                <div id="collapse-GenInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="row">
                        <!--<form>-->
                        <div class="col-sm-4">
                            <div class="panel dash-bg-color1 light-color-blue">
                                <div class="panel-body">
                                    <label>PORTFOLIOS ASSIGNED </label>
                                    <div class="value">{{modelingModel.portfolioCount}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel dash-bg-color2 light-color-pink">
                                <div class="panel-body">
                                    <label>MODEL AUM</label>
                                    <div class="value">{{modelingModel.modelAUM}}</div>
                                </div>
                            </div>
                        </div>
                        <div class=" clearfix"></div>
                        <div class="col-sm-4">
                            <div class="form-group  is-empty">
                                <label for="email" class="primar-label">Model ID</label>
                                <p>{{modelingModel.id}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Owner ID</label>
                                <p>{{modelingModel.ownerUserId}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Last Modified </label>
                                <p>{{modelingModel.editedOn | date: 'MM/dd/yyyy'}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Model Name</label> {{modelingModel.name}} </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group  is-empty">
                                <label for="email" class="primar-label">Model Description</label> {{modelingModel.description}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Status</label> {{modelingModel.status}} </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group  is-empty">
                                <label for="email" class="primar-label">Dynamic
										<div *ngIf="modelingModel.isDynamic">
											<!--<button class="btn  btn-blue  btn-sm">Corporate Actions</button>-->
											</div>
                        			</label>
                                <input type="checkbox" id="dynamic" name="isDynamic" [checked]="modelingModel.isDynamic" [(ngModel)]="checkForIsDynamicEnabled"
                                    [disabled]="!isDetailEditMode" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Management Style</label> {{modelingModel.managementStyle}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Namespace </label> {{modelingModel.nameSpace}} </div>
                        </div>
                        <!--</form>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Tags </label>
                                <!--<rl-tag-input placeholder="Add a tag" [(ngModel)]= "tags" delimiterCode="408"></rl-tag-input>-->
                                {{modelingModel.tags}}
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="modelingModel.isCommunityModel">
                        <div class=" clearfix"></div>
                        <div class="col-sm-4">
                            <div class="form-group  is-empty">
                                <label for="email" class="primar-label">Community Model ID</label>
                                <p>{{modelingModel.communityModelId}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Strategist ID</label>
                                <p>{{modelingModel.ownerUserId}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group is-empty">
                                <label for="email" class="primar-label">Community Model Sync Date </label>
                                <p>{{modelingModel.lastSyncDate | date: 'MM/dd/yyyy'}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" clearfix"></div>
            <div class="panel panel-default">
                <div class="model-heading" id="collapseIcon2" data-toggle="collapse" data-parent="#accordion" href="#collapse-modelDetail"
                    aria-expanded="false" aria-controls="collapseTwo"> <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i> Model Detail</div>
                <div class="clearfix"></div>

                <div id="collapse-modelDetail" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="hbox-container">
                        <div class="ease left-hbox-container">
                            <div class="btn-bar">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <button id="rdb1" href="javascript:void(0);" class="btnnone active" name="toggler" value="1" (click)="showToggle(1)">
                    <i class="fa fa-share-alt chart-view-icon" aria-hidden="true" ></i></button>
                                        <button id="rdb2" href="javascript:void(0);" class="btnnone" name="toggler" value="2" (click)="showToggle(2)"><i class="fa fa-bars grid-list-icon" aria-hidden="true"  ></i></button>

                                        <div class="btn-group">
                                            <button href="javascript:void(0)" (click)="onModelStatusChange('approved')" [class]="isCsselected('approved')">APPROVED</button>
                                            <button href="javascript:void(0)" (click)="onModelStatusChange('pending')" [class]="isCsselected('pending')"> PENDING</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-right"><button class="btn  btn-sm btn-gary" (click)="reDirectToEdit()" [disabled]="isDisableBtnEdit"> EDIT MODEL</button></div>
                                </div>
                            </div>

                            <!--<div id="blk-1" class="toHide" style="display:block;">-->
                            <!--<div class="tree-view-container">
								</div>
								<div class="circleHover"></div>-->
                            <d3treechart [(ModelId)]="modelId" [(displayMode)]="displayviewMode" [(modelStatus)]="modelStatus" (saveTreeDataChange)="showData($event)"
                                (modelData)="getModelData($event)"></d3treechart>
                            <!--</div>-->
                            <!--<div id="blk-2" class="toHide" style="display:none;">
								<div class="tree-container">
									<div class="tree-table-grid" *ngFor="let gridCategory of gridchildren">
										<div class="panel panel-default level1">
											<div>
												<h4 class="panel-title ">{{gridCategory.modelType}} </h4>
												<div class="grid">
													<table class="table treeview">
														<thead>
															<tr>
																<th>Type</th>
																<th>Sub Model Name</th>
																<th>Target %</th>
																<th>Lower %</th>
																<th>Upper %</th>
																<th>Rank</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>{{gridCategory.modelType}} </td>
																<td>{{gridCategory.nodeName}} </td>
																<td>{{gridCategory.targetPercent}}</td>
																<td>{{gridCategory.lowerModelTolerancePercent}}</td>
																<td>{{gridCategory.upperModelTolerancePercent}}</td>
																<td>8</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="panel panel-default level2" *ngFor="let gridClass of gridCategory.children">
												<div class="panel-heading">
													<div class="row-panel">
														<h4 class="panel-title"> {{gridCategory.modelType}} &gt; {{gridClass.modelType}} </h4>
														<div class="grid">
															<table class="table treeview">
																<thead>
																	<tr>
																		<th>Type</th>
																		<th>Sub Model Name</th>
																		<th>Target %</th>
																		<th>Lower %</th>
																		<th>Upper %</th>
																		<th>Rank</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>{{gridClass.modelType}} </td>
																		<td>{{gridClass.nodeName}} </td>
																		<td>{{gridClass.targetPercent}}</td>
																		<td>{{gridClass.lowerModelTolerancePercent}}</td>
																		<td>{{gridClass.upperModelTolerancePercent}}</td>
																		<td>8</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<div class="panel panel-default level3" *ngFor="let gridSubClass of gridClass.children">
													<div class="panel-heading">
														<h4 class="panel-title">
															{{gridCategory.modelType}} &gt; {{gridClass.modelType}} &gt; {{gridSubClass.modelType}} </h4>
														<div class="grid">
															<table class="table treeview">
																<thead>
																	<tr>
																		<th>Type</th>
																		<th>Sub Model Name</th>
																		<th>Target %</th>
																		<th>Lower %</th>
																		<th>Upper %</th>
																		<th>Rank</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>{{gridSubClass.modelType}} </td>
																		<td>{{gridSubClass.nodeName}} </td>
																		<td>{{gridSubClass.targetPercent}}</td>
																		<td>{{gridSubClass.lowerModelTolerancePercent}}</td>
																		<td>{{gridSubClass.upperModelTolerancePercent}}</td>
																		<td>8</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="panel panel-default level4" *ngFor="let gridSecurityset of gridSubClass.children">
															<div class="panel-body">
																<div class="row-panel">
																	<h4 class="panel-title"> {{gridCategory.modelType}} &gt; {{gridClass.modelType}} &gt; {{gridSubClass.modelType}} &gt; {{gridSecurityset.modelType}}</h4>
																	<div class="grid">
																		<table class="table treeview">
																			<thead>
																				<tr>
																					<th>Type</th>
																					<th>Sub Model Name</th>
																					<th>Target %</th>
																					<th>Lower %</th>
																					<th>Upper %</th>
																					<th>Rank</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr>
																					<td>{{gridSecurityset.modelType}} </td>
																					<td>{{gridSecurityset.nodeName}} </td>
																					<td>{{gridSecurityset.targetPercent}}</td>
																					<td>{{gridSecurityset.lowerModelTolerancePercent}}</td>
																					<td>{{gridSecurityset.upperModelTolerancePercent}}</td>
																					<td>8</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>-->
                        </div>
                        <div class="right-hbox-container ease" id="modelview_container">
                            <a href="javascript:void(0);" class="right-hbox right-hbox-model" data-target="modelview_container"> <i class="glyphicon-menu-right glyphicon" aria-hidden="true"></i> </a>
                            <div class="right-tab-box">
                                <div>
                                    <ul class="nav nav-tabs pull-left">
                                        <li class="active equalspace"><a data-toggle="tab" href="#portfolioAssigned" aria-expanded="true">Portfolio Assigned </a>                                            </li>
                                        <li class="equalspace"><a data-toggle="tab" href="#TeamsAccess" aria-expanded="true" (click)="onChangeTab()">Teams Access </a> </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div id="portfolioAssigned" class="tab-pane fade in active">
                                        <div class="form-group">
                                            <label class="radio-inline">
                                  <input type="radio" name="optradio" value="portfolios" [(ngModel)]="radioportfolio" (click) ="setPortfolios()" >
                                  Portfolio </label>
                                            <label class="radio-inline">
                                  <input type="radio" name="optradio" id="sleeves" value="sleeves" [(ngModel)]="radiosleeve" (click) ="setSleeves()" >
                                  Sleeves </label>
                                        </div>
                                        <div class="row " id="portfolioModelAssignment" *ngIf="radioportfolio === 'portfolios'">
                                            <div class="col-xs-12">
                                                    <div class="icon-addon addon-lg ">
                                                        <!--<input type="text" placeholder="Search and Add" class="form-control custom-search-bar search-add-input" id="email">-->
                                                        <p-autoComplete [(ngModel)]="selectedPortfolio" [suggestions]="portfolioSuggestions" placeholder="Search and Add" (completeMethod)="loadPortfolioSuggestions($event)"
                                                            (onSelect)="onPortfolioSelect($event)" field="name" class="form-control custom-search-bar search-add-input"
                                                            [minLength]="1" [style.width]="'310px'" id="email">
                                                        </p-autoComplete>
                                                        <label for="email" class="glyphicon glyphicon-search custom-icon-addon" title="search"></label>
                                                        <button [disabled]="disableAssignButton" (click)="assignPortfolioToModel(modelId)" class="btn btn-raised btn-info add-portfolio-btn"> <i class="fa fa-plus  " aria-hidden="true"></i> </button>
                                                    </div>
                                                <div class="nav-tabs-container custom-tab-container ">
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade in fullList-container portfolio-style  active">
                                                            <div class="portfolio-list-group">
                                                                <div *ngFor="let itemsPortfolio of modelPortfolios" class="portfolio-list-item">
                                                                    <div class="portfolio-list-item-div" (click)="displaySecMPAllocation(itemsPortfolio.id)" [class.active]="itemsPortfolio.isSelected">
                                                                        {{itemsPortfolio.name}}
                                                                        <span *ngIf="checkPortfolioHasSubstitute(itemsPortfolio)" class="label-first text-danger">{{hasSubstitute}}</span>
                                                                        <span *ngIf="checkStatusAwaiting(itemsPortfolio)" class="label-second">{{dispAwaitingApproval}}</span>
                                                                    </div>
                                                                    <button (click)="unassignConfirm(itemsPortfolio.id)" class="btn btn-link"><i class="glyphicon glyphicon-remove "></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portfolio-list-disc" *ngIf="flagDispApprovalReject"><span><strong>(PA) - Pending Approval</strong></span><a href="javascript:void()" [class.disabled]="isLinkDisabled"
                                                        (click)="showPortfolioModelApprovalPopup()">Approve Assignment</a></div>
                                                <div class="portfolio-list-disc" *ngIf="flagDispPfHasSubstitute"><span><strong>* Has Substitute</strong></span></div>
                                            </div>
                                        </div>
                                        <div class="row display-none" id="sleeveModelAssignemnt" *ngIf="radiosleeve === 'sleeves'">
                                            <div class="col-xs-12 ">
                                                <div class="form-group">
                                                    <!--<div class="icon-addon addon-lg">
														<input type="text" placeholder="Search Sleeve Account" class="form-control custom-search-bar search-add-input">
														<label for="email" class="glyphicon glyphicon-search custom-icon-addon" title="search"></label>
														<button class="btn add-portfolio-btn"> <i class="fa fa-plus  " aria-hidden="true"></i> </button>
													</div>-->
                                                    <div class="icon-addon addon-lg ">
                                                        <!--<input type="text" placeholder="Search and Add" class="form-control custom-search-bar search-add-input" id="email">-->
                                                        <p-autoComplete [(ngModel)]="selectedSleeve" [suggestions]="sleeveSuggestions" placeholder="Search Sleeve Account" (completeMethod)="loadSleeveSuggestions($event)"
                                                            (onSelect)="onSleeveSelect($event)" field="name" class="form-control custom-search-bar search-add-input"
                                                            [minLength]="1" [style.width]="'310px'" id="email">
                                                        </p-autoComplete>
                                                        <label for="email" class="glyphicon glyphicon-search custom-icon-addon" title="search"></label>
                                                        <button (click)="assignSleeveToModel(modelId)" class="btn add-portfolio-btn"> <i class="fa fa-plus  " aria-hidden="true"></i> </button>
                                                    </div>
                                                </div>
                                                <div class="nav-tabs-container custom-tab-container ">
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade in fullList-container portfolio-style  active">
                                                            <div class="portfolio-list-group">
                                                                <div *ngFor="let itemsSleeve of modelSleevedAccounts" class="portfolio-list-item">
                                                                    <div class="portfolio-list-item-div " (click)="displaySecSlvAllocation(itemsSleeve.id)" [class.active]="itemsSleeve.isSelected">
                                                                        {{itemsSleeve.name}}
                                                                        <span *ngIf="checkSleevedAccHasSubstitute(itemsSleeve)" class="label-first text-danger">{{hasSubstitute}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portfolio-list-disc" *ngIf="flagDispSleeveHasSubstitute"><span><strong>* Has Substitute</strong></span></div>
                                            </div>
                                        </div>

                                        <div class="portfolio-aum-container">
                                            <div class="portfolio-aum" *ngIf="flagMP_AllocSection">
                                                <div class="col-sm-6 heading text-left"> MODEL ALLOCATION </div>
                                                <div class="col-sm-6 heading text-right">
                                                    AUM<strong>${{m_AUM}}</strong></div>
                                                <div class="responsive-table">
                                                    <table class="table table-hover text-right">
                                                        <thead>
                                                            <tr class="table-heading">
                                                                <th style="text-align:left;">Tc</th>
<th><strong>Target</strong> </th>
<th><strong>Current</strong> </th>
<th class="text-center"><strong>Target</strong></th>
<th class="text-center"><strong>Current</strong></th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let mpalloc of modelPortfolioAllocations">
        <td class="text-left"> {{mpalloc.name}}</td>
        <td>${{mpalloc.targetInAmt}}</td>
        <td>${{mpalloc.currentInAmt}}</td>
        <td class="text-center">{{mpalloc.targetInPercent}} %</td>
        <td class="text-center">{{mpalloc.currentInPercent}} %</td>
    </tr>
    <tr class="table-total">
        <td class="text-left"><strong>Total</strong></td>
        <td><strong>${{structMPAllocation.targetInAmt}}</strong></td>
        <td><strong>${{structMPAllocation.currentInAmt}}</strong></td>
        <td class="text-center"><strong>{{structMPAllocation.targetInPercent}}%</strong></td>
        <td class="text-center"><strong>{{structMPAllocation.currentInPercent}}%</strong></td>
    </tr>
</tbody>

</table>
</div>
</div>

<div class="portfolio-aum" *ngIf="flagSlv_AllocSection">
    <div class="col-sm-6 heading text-left"> MODEL ALLOCATION </div>
    <div class="col-sm-6 heading text-right">
        AUM<strong>${{m_AUM}}</strong></div>
    <div class="responsive-table">
        <table class="table table-hover text-right">
            <thead>
                <tr class="table-heading">
                    <th style="text-align:left;">Tc</th>
<th><strong>Target</strong> </th>
<th><strong>Current</strong> </th>
<th class="text-center"><strong>Target</strong></th>
<th class="text-center"><strong>Current</strong></th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let slvalloc of sleeveAllocations">
        <td class="text-left"> {{slvalloc.name}}</td>
        <td>${{slvalloc.targetInAmt}}</td>
        <td>${{slvalloc.currentInAmt}}</td>
        <td class="text-center">{{slvalloc.targetInPercent}} %</td>
        <td class="text-center">{{slvalloc.currentInPercent}} %</td>
    </tr>
    <tr class="table-total">
        <td class="text-left"><strong>Total</strong></td>
        <td><strong>${{structSlvAllocation.targetInAmt}}</strong></td>
        <td><strong>${{structSlvAllocation.currentInAmt}}</strong></td>
        <td class="text-center"><strong>{{structSlvAllocation.targetInPercent}}%</strong></td>
        <td class="text-center"><strong>{{structSlvAllocation.currentInPercent}}%</strong></td>
    </tr>
</tbody>

</table>
</div>
</div>


</div>
</div>
<div id="TeamsAccess" class="tab-pane fade in ">
    <div class="nav-tabs-container custom-tab-container custom-height-style  space-top-10 ">
        <div class="tab-content">
            <div class="tab-pane fade in fullList-container team-access active">
                <!--<ul class="team-access-list">
														<li> <a href="#" class="active">Team 1 </a> </li>-->
                <ul *ngFor="let itemsTeam of modelTeams" class="team-access-list">
                    <li> <span class="active">{{itemsTeam.name}}</span></li>
                </ul>
            </div>
            <div class="portfolio-aum-container">
                <div class="portfolio-aum">

                    <div class="col-sm-6 heading text-left"> MODEL ALLOCATION </div>
                    <div class="col-sm-6 heading text-right">
                        AUM<strong>${{m_AUM}}</strong></div>
                    <div class="responsive-table">
                        <table class="table table-hover text-right">
                            <thead>
                                <tr class="table-heading">
                                    <th style="text-align:left;">Tc</th>
<th class="text-center"><strong>Target</strong></th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let malloc of modelTargetAllocations">
        <td class="text-left"> {{malloc.name}}</td>
        <td class="text-center">{{malloc.targetInPercent}} %</td>
    </tr>
    <tr class="table-total">
        <td class="text-left"><strong>Total</strong></td>
        <td class="text-center"><strong>{{structMTargetAllocation.targetInPercent}}%</strong></td>
    </tr>
</tbody>


</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<p-dialog [(visible)]="displayConfirm" modal="modal" responsive="true" showEffect="fade" [draggable]=false [resizable]=false
    width="400">
    <div *ngIf="confirmType === 'UNASSIGN'">
        <div>This action will unassign the Portfolio from Model. <br /> Do you wish to continue?</div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" class="btn btn-info btn-raised" (click)="displayConfirm=false" label="No"></button>
                <button type="button" pButton icon="fa-check" class="btn btn-blueouter" (click)="unAssignPortfolioFromModel()" label="Yes"></button>
            </div>
        </footer>
    </div>
</p-dialog>

<p-dialog header="Portfolio - Model Assignment Approval" [resizable]="true" [(visible)]="displayPfMdlApprvlSec" responsive="true"
    showEffect="fade" width="700">
    <div class="col-sm-12">
        <div class="agcontainer">
            <!--<ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-material ag-dark" [showToolPanel]="false" enableSorting
                (rowSelected)="onRowSelected($event)" [gridOptions]="modelGridOptions"
                enableColResize="true" rowSelection="multiple" [columnDefs]="modelColumnDefs" [rowData]="modelList" enableFilter
                [getContextMenuItems]="getContextMenuItems" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" [groupRowAggNodes]="groupAggFunction" rememberGroupStateWhenNewData="true"
                [getRowStyle]="getRowStyle" [context]="gridContext" [suppressMenuMainPanel]="true">
            </ag-grid-ng2>-->

            <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-material ag-dark" [showToolPanel]="false" enableSorting (rowSelected)="handleCheckboxSelectedItems($event)" [gridOptions]="modelGridOptions"
enableColResize="true" rowSelection="multiple" [columnDefs]="modelColumnDefs" [rowData]="portfoliosAwaitingList" enableFilter
(gridReady)="onGridReady($event)" [groupRowAggNodes]="groupAggFunction" rememberGroupStateWhenNewData="true" [context]="gridContext"
[suppressMenuMainPanel]="true">
</ag-grid-ng2>
</div>
</div>

<!--*ngIf="showResetBtn" [class.disabled]="btnApproveDisable"-->
<!--*ngIf="(selectedGridMultiplePortfolioIds.length > 0)"-->

<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <button type="submit" *ngIf="setDisplayModesForApproveRejectButtons()" [disabled]="btnRejectDisable" class="btn btn-blueouter"
        icon="fa-check" (click)="approveOrRejectModelPortfolio('reject')">REJECT</button>
    <button type="button" *ngIf="setDisplayModesForApproveRejectButtons()" [disabled]="btnApproveDisable" class="btn btn-blueouter btn-raised"
        icon="fa-close" (click)="approveOrRejectModelPortfolio('approve')">APPROVE</button>
</div>

</p-dialog>