<div class="nav-tabs-container">
    <ul class="nav nav-tabs pull-left">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/eclipse', 'admin', 'user', 'list']">All Users</a> </li>
        <li [routerLinkActive]="['active']"><a *ngIf="model.canRead && (model.action == 'L' || model.action == 'V')" [routerLink]="['/eclipse', 'admin', 'user', 'view']">User Details</a></li>
        <li [routerLinkActive]="['active']"><a *ngIf="model.canAdd && model.action == 'A'" [routerLink]="['/eclipse', 'admin', 'user', 'add']">User Details</a></li>
        <li [routerLinkActive]="['active']"><a *ngIf="model.canUpdate && model.action == 'E'" [routerLink]="['/eclipse', 'admin', 'user', 'edit', model.id]">User Details</a></li>
    </ul>
    <div class="actionBtn btn-group pull-right">
        <a href="javascript:void(0)" data-target="#" class="btn btn-primary action-drop dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">more_vert</i>
            <div class="ripple-container"></div>
        </a>
        <ul class="dropdown-menu submenu-list" [ngClass]="{hidden:model.id == undefined}">
            <div [hidden]="model.id == undefined || !model.canRead || model.action == 'V'">
                <li><a [routerLink]="['/eclipse', 'admin', 'user', 'view', model.id]">View details</a></li>
            </div>
            <div [hidden]="model.id == undefined || !model.canUpdate || model.action == 'E'">
                <li><a [routerLink]="['/eclipse', 'admin', 'user', 'edit', model.id]">Edit</a></li>
            </div>
            <div [hidden]="model.id == undefined || !model.canDelete || model.action != 'L'">
                <li><a href="javascript:void(0)" (click)="onDelete()">Delete</a></li>
            </div>
        </ul>
    </div>
</div>